*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container-fluid
{
   height: 100vh;
   width: 100%;
   background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
   display: flex;
    position: relative;
}


.box{
    height: 400px;
    width: 350px;
    background-color: white;
    margin-top: 100px;
    margin-left: 40%;
    align-items: center;
    position: absolute;
   
   
   
}
.box h1{
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.box hr{
    padding-top: 30px ;
}

form {
    display: flex;
   flex-direction: column;
    row-gap: 20px;
   justify-content: space-around;
}

.form input{
    height: 40px;
    width: 80%;
    justify-content: space-between;
    border-left:none;
    border-top: none;
    border-right: none;
    outline: hidden;
    margin-left: 20px;
}

.form a{
    margin-left: 20px;
    text-decoration: none;
    padding-bottom: 20px;
}

.btn{
    height: 40px;
    width: 70%;
    margin-left: 35px;
    border-radius: 20px;
}

.btn:hover{
    background-color: black;
    color: aliceblue;
}



